# Maven
target/
target/**
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/
.settings/
.classpath
.project

# Compiled files
*.class
*.lst

# Package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Logs
*.log
pnpm-debug.log*

# OS specific
.DS_Store
Thumbs.db

# Node
node_modules/
pnpm-lock.yaml

# Save files
saves/
*.json
!package.json