.save-menu-background {
    -fx-background-color: #38250e;
}

.save-title-label {
    -fx-font-size: 30px;
    -fx-font-family: "Courier New", monospace;
    -fx-font-weight: 900;
    -fx-text-fill: white;
}

.save-slot-list {
    -fx-background-color: transparent;
    -fx-pref-height: 320px;
    -fx-max-height: 320px;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-pref-width: 400px;
    -fx-max-width: 400px;
}

.save-slot-list .list-cell {
    -fx-pref-width: 400px;
    -fx-max-width: 400px;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.save-slot-list .list-cell:filled {
    -fx-background-color: #F5E6D3;
    -fx-opacity: 0.5;
    -fx-background-radius: 25px;
    -fx-padding: 5px;
    -fx-background-insets: 0 0 20px 0;
    -fx-font-size: 24px;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.save-slot-list .list-cell .save-slot-text {
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-font-size: 24px;
}

.save-slot-list .list-cell .save-slot-buttons {
    -fx-spacing: 10;
    -fx-alignment: center;
}

.save-slot-button {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-min-width: 80px;
    -fx-min-height: 30px;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
}

.save-slot-button:hover {
    -fx-cursor: hand;
    -fx-text-fill: red;
    -fx-background-color: green;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}